.width100 {
    width: 100% !important;
}

.keyColor {
    color: black;
}

.textareaHeight {
    height: 100px;
}

.hide {
    display: none;
}

.error {
    color: #e83e8c !important;
}

.line {
    text-decoration:underline;
}

.blueWith {
    color: #6a7dfe;
}